<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.NeosGruenbaumMBSEGames65002.game"
          android:versionCode="1"
          android:versionName="1.0">

    <!-- ADD THIS LINE HERE: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:label="MBSEGames" android:debuggable="true">
        <activity android:name="org.golang.app.GoNativeActivity"
                  android:label="MBSEGames"
                  android:configChanges="orientation|keyboardHidden"
                  android:exported="true">
            <meta-data android:name="android.app.lib_name" android:value="Moonopoly" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>